table, td, th {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
.sky {
    background-color: rgb(192, 250, 250);
}

form {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 35vw;
    margin:auto
}